---
---

html, body {
  margin-top: 10px;
  font: 10.5pt Inter;
}

body {
  margin: auto;
  max-width: 75ch;
  padding-left: 12px;
  padding-right: 12px;
}

header > h2 {
  margin-bottom: 8px;
}

header {
  padding-bottom: 12px;
  padding-top: 24px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  gap: 8px;
}

.nav-item {
  color: inherit !important;
  font-weight: 500;
}

.nav-item.active {
  text-decoration: underline;
}

.footnotes {
  font-size: 0.85em;
  color: #666;
  padding-top: 1px;
}

.footnotes > ol {
  padding-left: 12px;
}
